@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0171f8;
}

.header {
  background-color: #0171f8;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  text-decoration: none;
}

.itemul {
  display: flex;
  list-style: none;
  gap: 60px;
}
a {
  text-decoration: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}

.li:hover{
  background-color: grey;
  transition: 1s ease;
  border-radius: 20px;
}

.sign {
  padding: 10px;
  margin: 15px;
  border-radius: 20px;
  background-color: #ee626b;
}

.sign:hover{
    background-color: transparent;
}

.text h3{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}

.text span{
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.main ul{
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
  margin-top: 130px;
  font-weight: 600;
}

.show{
  background-color: #ee626b;
  color: aliceblue;
  padding: 10px;
  border-radius: 100px;
}


.ost {
  background-color: #eee;
  border-radius: 130px;
  padding: 10px;
}

.ost:hover{
  color: #ee626b;
  transition: 0.3s ease;
}

.container .main{
  margin-bottom: 80px;
}

.subtitle {
  color: #ee626b;
  font-weight: 700;
  font-size: 14px;
}

.trending-header h2 {
  font-size: 36px;
  font-weight: 800;
  margin-top: 10px;
}

.view-all {
  background: #ee626b;
  color: #fff;
  padding: 14px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.trending-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.trending h2 {
  color: #1e1e1e;
}

.game-card {
  background: #f7f7f7;
  border-radius: 25px;
  overflow: hidden;
  width: 300px;
}

.game-img {
  position: relative;
}

.game-img img {
  display: block;
  border-radius: 25px 25px 0 0;
}

.price {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #0071f8;
  color: #fff;
  padding: 8px 14px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
}

.price del {
  display: block;
  font-size: 13px;
  opacity: 0.7;
}

.game-info {
  padding: 20px;
  position: relative;
}

.category {
  font-size: 14px;
  color: #7a7a7a;
}

.game-info h4 {
  font-size: 18px;
  margin-top: 5px;
}

.cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background: #ee626b;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.category-name {
  color: #0071f8;
}

.cart:hover {
  background-color: #0171f8;
  transition: 0.9s ease-in-out;
}



.s2,.s3{
  display: flex;
  gap: 90px;
  margin-top: 15px;
}

.cta{
  margin-top: 50px;
}

.item{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.item ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

.num li a{
  background-color: #eee;
  padding: 10px;
  color: black;
  border-radius: 20px;
}

.num .otl a{
  background-color: lightskyblue;
}

.num li a:hover{
  background-color: #0071f8;
  color: white;
  transition: 0.2s ease;
}

.cta{
  margin-bottom: 50px;
}


footer p{
  text-align: center;
  font-size: 16px;
  color: aliceblue;
  font-weight: 400;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  border-radius: 20px;
}